body{
    margin: 0;
    padding: 0;
    background-image: url(backgroud.png);
}
nav{
    display: flex;
    justify-content: end;
    padding-top: 3vh;
}
.title div:nth-child(1){
    font-size: 7vh;
    font-weight: bold;
    text-shadow: 2px black;
}
.title div:nth-child(2){
    color: gray;
    font-size: 4vh;
}
.flex{
    display: flex;
    width: 80%;
    flex-direction: column;
    background-color: white;
    font-size: 3vh;
    padding: 5px 0 2px 0;
}
.first{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F05136;
    color: white;
    padding: 5px 0 5px 0;
}
.second{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.327);
    padding: 5px 0 0 0;
}

.third{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.327);
    padding: 5px 0 0 0;
}
.bat{
    display: flex;
    justify-content: space-around;
    width: 38vw;
}

.second>div:nth-child(1){
    color: blue;
}

.third>div:nth-child(1){
    color: blue;
}

.third>div:nth-child(2){
    color: gray;
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.327);
    padding: 3px 0 3px 0;
}

.score1{
    padding: 3px 0 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.run{
    display: flex;
    width: 74vh;
    justify-content: start;
}
.run1{
    display: flex;
    width: 90vh;
    justify-content: center;
    color: blue;
}